
.navbar {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}
.game-name {
    color: #ffd182;
    font-size: 5rem;
    text-shadow: 12px 5px 30px rgb(21, 21, 21);
    margin-top: 2.1rem;
    
    
}
.rounded-circle {
    height: 4rem;
    margin-right: 2rem;
    margin-left: 1rem;
}
