.button {
	font-family: 'Caudex', serif;
	background:linear-gradient(to bottom, #e9ad58 5%, #8a550b 100%);
	border-radius: 0.3rem;
	border: 2px solid #1c1b18d6;
	display: inline-block;
	cursor: pointer;
	font-size: 1.15rem;
	letter-spacing: 0.05rem;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ccc2a6;
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.5);
	transition: all 0.2s ease-in-out;
}
.button:hover {
	background:linear-gradient(to bottom, #e4ac5e 5%, #de8407 100%);
	background-color:#ccc2a6;
	transform: scale(1.02);
    box-shadow: 0px 25px 15px -15px rgb(0, 0, 0, 0.5);
}

.button-lobby {
	margin: 1.5rem;
	width: 10em;
}

.navButton {
	font-family: 'Caudex', serif;
	background:linear-gradient(to bottom, #e9ad58 5%, #8a550b 100%);
	border-radius:5px;
	border: 3px solid #1c1b18d6;
	display: inline-block;
	cursor: pointer;
	font-size: 1.3rem;
	letter-spacing: 0.05rem;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ccc2a6;
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.5);
    transition: all 0.2s ease-in-out;
}
.navButton:hover {
	background:linear-gradient(to bottom, #e4ac5e 5%, #de8407 100%);
	background-color:#ccc2a6;
	transform: scale(1.02);
    box-shadow: 0px 25px 15px -15px rgb(0, 0, 0, 0.5);
}

.navButton-lobby {
	margin: 1.5rem;
	width: 10em;
}

.navButton-join {
	box-shadow: none;
}