body {
  font-family: 'Artifika', serif;
  color: #2b2423;
  font-size: 16px;
  background-image: url("../../client/src/components/Images/table-backgrond-3.png");
  background-repeat: repeat-x;
  height: 600px;
 }


@font-face {
  font-family: 'norse';
  src: local('norse'), url('./fonts/norse.ttf') format('ttf');
}


h1 {
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 3px;
}

h2, h3, h4, {
  font-family: 'Lancelot', serif;
}

h4, h5, h6, p {
  font-family: 'Caudex', serif;
  line-height: 1.6rem;
}


/* 
font-family: 'Cinzel Decorative', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Vollkorn', serif;
font-family: 'Yrsa', serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Lusitana', serif;
font-family: 'Lustria', serif;
font-family: 'Halant', serif;
font-family: 'Caudex', serif; */
