body {
  color: #30211e;
  font-size: 16px;
  background-image: url("../../client/src/components/Images/table-backgrond-3.png");
  /* background-repeat: repeat-x; */
  background-position: center;
  background-size: cover;
  
  height: 100%;
 }

a {
  color: #1b1716;
}

a:hover {
  color: #1b1716;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 0.4rem;
  margin-bottom: 0rem;
}

h2 {
  /* font-family: 'Lustria', serif; */
  font-family: 'Meddon', serif;
  letter-spacing: 0.06rem;
  margin-bottom: 0rem;
}

h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Caudex', serif;
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 0rem;
}

p {
  font-family: 'Averia Serif Libre', cursive;
  /* font-family: 'Caudex', serif; */
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  /* font-weight: bold; */
}

.info-background {
  background-image: url("../src/components/Images/paper-info-background.jpg");
  border: 10px solid white;
  border: 10px solid rgba(77, 54, 32, 0.127);
  border-radius: 0.4rem;
  box-shadow: 0px 0px 29px 6px rgba(0,0,0,0.75);
  position: relative;
}



.container-fluid {
  padding-right: 0rem;
  padding-left: 0rem;
}
/* 
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {

  padding-right: 0px;
  padding-left: 0px;

} */
