body {
  font-family: 'Artifika', serif;
  color: #2b2423;
  font-size: 16px;
  background-image: url("../../client/src/components/Images/table-backgrond-3.png");
  background-repeat: repeat-x;
  height: 600px;
 }


@font-face {
  font-family: 'norse';
  src: local('norse'), url('./fonts/norse.ttf') format('ttf');
}


h1 {
  font-family: "norse", sans-serif;
  letter-spacing: 0.7rem;
}

p {
  line-height: 1.6rem;
}
