body {
  font-family: 'Donegal One', serif;
}



/* font-family: 'Alegreya', serif;
font-family: 'Sorts Mill Goudy', serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Average', serif;
font-family: 'Artifika', serif;
font-family: 'Prociono', serif;
font-family: 'Kotta One', serif;
font-family: 'Donegal One', serif; */