.margin-left {
    margin-left: 1rem;
}

.gamesAvail {
    margin-bottom: 2em;
}

.games-title {
    text-transform: uppercase;
    font-family: 'Caudex', serif;
    font-weight: bolder;
    font-size: 1.2em;
}

.playersInGame {
    float: left;
}

.style-one {
    border: 0;
    height: 1.2px;
    background: #261f1e;
    background-image: linear-gradient(to right, #dcb175, #261f1e, #dcb175);
}