.gamesAvail {
    margin-bottom: 2em;
}

.playerTitles {
    font-size: 1.5em;
    font-weight: bolder;
}

.playersInGame {
    float: left;
}

.style-one {
    border: 0;
    height: 1.2px;
    background: #261f1e;
    background-image: linear-gradient(to right, #dcb175, #261f1e, #dcb175);
}