.margin-left {
    margin-left: 1.5rem;
}

.no-margins{
    margin-left: 0;
    margin-right: 0;
}

.join-game-rectangle {
    background-image: url("../../components/Images/paper-info-background.jpg");
    box-shadow: inset 0px 0px 13px -1px rgba(69, 53, 30, 0.6);
    border: 0.2px solid #765c3784;
    padding: 1rem;
}

.join-game-rectangle h3 {
    padding-bottom: 0.5rem;
    font-weight: bolder;
}

