.flightCardHand {
    margin-right: 0.5rem;
    width: 5rem;
    box-shadow: 0px 0px 42px 1px rgba(0,0,0,0.75);
    transition: all 0.1s ease;
}

.flightCardHand:hover {
    transform: rotate(2.8deg)scale(1.15)translateY(-1em);
    /* box-shadow: 0px 0px 70px 4px rgba(248, 162, 3, 0.75); */
    animation: glowflight 2000ms infinite;
}

.flightCardHand:active {
    transform: rotate(2.8deg)scale(1.2)translateY(-2em);
}

@keyframes glowflight {
    0% { box-shadow: 0 0 25px rgba(248, 162, 3, 0.75); }
    40% { box-shadow: 0 0 80px rgba(248, 162, 3, 0.75); }
    60% { box-shadow: 0 0 80px rgba(248, 162, 3, 0.75); }
    100% { box-shadow: 0 0 25px rgba(248, 162, 3, 0.75); }
}

@media only screen and (max-width: 1440px) {
    .flightCardHand {
        width: 4rem;
        height: 8rem;
    }
}

@media only screen and (max-width: 1280px) {
    .flightCardHand {
        width: 3rem;
        height: 6rem;
    }
}

@media only screen and (max-width: 1024px) {
    .flightCardHand {
        width: 2.5rem;
        height: 5rem;
    }
}

