.flightCardHand {
    margin: 1.2rem 0.5rem;
    width: 5rem;
    box-shadow: 0px 0px 42px 1px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}

.flightCardHand:hover {
    transform: rotate(2.8deg) scale(1.4);
    box-shadow: 0px 0px 70px 4px rgba(0,0,0,0.75);
}

.flightCardHand:active {
    transform: scale(1.25); 
}

