.flightCardHand {
    margin-right: 0.5rem;
    width: 5rem;
    box-shadow: 0px 0px 42px 1px rgba(0,0,0,0.75);
    transition: all 0.1s ease;
}

.flightCardHand:hover {
    transform: rotate(2.8deg)scale(1.25)translateY(-1em);
    box-shadow: 0px 0px 70px 4px rgba(248, 162, 3, 0.75);
}

.flightCardHand:active {
    transform: rotate(2.8deg)scale(1.4)translateY(-2em);
}

