

.paper-background {
    background-image: url("../../components/Images/paper-2-3.png");
}
.box {
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    margin-top: 2rem;
    height: 37.5em;
    padding: 1rem 0rem;
    display: inline-block;
    overflow-x: hidden;
}

.box img {
    box-shadow: 0px 0px 1px 1px #765c37;
}


.lobby-subtitle {
    padding-left: 2rem;
    /* font-weight: bolder; */
    /* font-family: 'Eagle Lake', cursive; */
    font-family: 'Meddon', cursive;
    /* font-family: 'Quintessential', cursive; */
}

hr.style-one {
    border: 0;
    height: 1.2px;
    background: #261f1e;
    background-image: linear-gradient(to right, #dcb175, #261f1e, #dcb175);
}

.button-hr {
    position: absolute;
    bottom: 10px;
    overflow-y: hidden;
}

.games-box {
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: auto;
}


/* Gradient color1 - color2 - color1 */
hr.style-one {
    border: 0;
    height: 1.2px;
    background: #261f1e;
    background-image: linear-gradient(to right, #dcb175, #261f1e, #dcb175);
}

.games-data {
    height: 30em;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}