.paper-background {
    background-image: url("../../components/Images/paper-2-3.png");
}
.box {
    width: 100%;
    margin-top: 2rem;
    height: 37.5em;
    padding: 1rem 0rem 0rem 0rem;
    display: inline-block;
    overflow: hidden;
    
}

.box p {
    color: #462a1a;
}


.h1-img-top {
    box-shadow: 0px 0px 1px 1px #765c37;
    overflow-x: hidden;
}

.h1-img-bottom {
    box-shadow: 0px 0px 1px 1px #765c37;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.lobby-subtitle {
    padding-left: 2rem;
}


.lobby-cards-cointainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30.9em;
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
}

.games-data {
    height: 30.9em;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

@media screen and (max-width: 1024px) {
    .users-box {
        width: 10rem;
    }

    .chats-box {
        width: 24rem;
    }

    .games-box {
        width: 20rem;
    }
}

@media screen and (max-width: 415px) {

    .lobby-row{
        width: 100%;
        margin: 0 auto;
        /* clear: both; */
    }
    .container-fluid {
        width: 100%;
        margin: 0 auto;
        /* clear: both; */
    }
    .users-box, .chats-box, .games-box {
        height: 300px;
        width: 100%;
    }

    .chats-box {
        height: 40rem;
    }
   
    a#joinButton {
        display: block;
        /* margin: 0 auto; */
        width: 100%;
    }
    .join-game-name {
        text-align: center;
    }
}

  /* @media screen and (max-width: 640px) {
    .col {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      clear: both;
    }
  } */