ul {
    padding-left: 0rem;
    list-style-type: none
}

.online-user-style {
    color: #261f1e;
    list-style-type: none; 
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 10em;
}

.usersPoop {
    overflow-y: auto;
    overflow-x: auto;
    height: 30.9em;
}
