ul {
    padding-left: 0rem;
    list-style-type: none
}

.online-user-style {
    color: #261f1e;
    list-style-type: none; 
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 10em;
}

.users-cointainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30.9em;
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
}
