.landCardWorld {
    width: 4.5em;
}

.landCardWorld {
    box-shadow: 17px 0px 36px -4px rgba(0,0,0,0.75);
    transition: all 0.1s ;
}

.landCardWorld:hover {
    transform: scale(1.05)translateY(-0.1em);
    box-shadow: 0px 0px 100px -8px rgba(0,0,0,0.75);
}
.landCardWorld:active {
    transform: scale(1.15)translateY(-0.3em);
    box-shadow: 0px 0px 100px -8px rgba(248, 162, 3, 0.884);
}

@keyframes glowing {
    0% { box-shadow: 0 0 20px rgba(248, 162, 3, 0.884); }
    40% { box-shadow: 0 0 60px rgba(248, 162, 3, 0.884); }
    60% { box-shadow: 0 0 60px rgba(248, 162, 3, 0.884); }
    100% { box-shadow: 0 0 20px rgba(248, 162, 3, 0.884); }
}
  
.glowLand {
    animation: glowing 4000ms infinite;
}

@media only screen and (max-width: 1440px) {
    .landCardWorld {
        width: 4rem;
        
    }
}

@media only screen and (max-width: 1280px) {
    .landCardWorld {
        width: 3rem;
    }
}