.drawData {
    font-family: 'norse', serif;
    color: #ffd182;
}

.drawFlightDeck {
    margin: 0 auto;
    transition: transform .1s ease;
    width: 5rem;
    height: 10rem;
}

.drawFlightDeck:hover {
    transform: scale(1.25); 
    box-shadow: 0px 0px 70px 4px rgba(248, 162, 3, 0.75);
}

.drawFlightDeck:active {
    transform: scale(1.3)
}

@media only screen and (max-width: 1440px) {
    .drawFlightDeck {
        width: 4rem;
        height: 8rem;
    }
}

@media only screen and (max-width: 1280px) {
    .drawFlightDeck {
        width: 3rem;
        height: 6rem;
    }
}