.game-status-box {
    height: 4.1rem;
    padding: 0.3rem;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.game-status-box img {
    position: absolute;
    left: 1rem;
    /* top: 0.09rem; */
}

.game-status-margin {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    padding-bottom: 1.5rem;
    
}

.game-status-box h3 {
    text-transform: none !important;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    color: #1b1716;
}

.coin-size {
    height: 2rem;
    border-radius: 50%;
    transition: all .8s ease-in-out;
    display: block;
}

.coin-size:hover {
    transform: rotate(-360deg);
}

.games-text {
    text-transform: uppercase;
    font-family: 'Caudex', serif;
    font-weight: bolder;
    font-size: 1.2em;
    color: #cbb253;
}

.text-yellow {
    color: #fac66c;
}

.img-vert {
    transform: rotateX(180deg);
}

.gameHr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardsToDrawNum {
    font-weight: bold;
}


/* music-checkbox  */
input {
    display:none
}

i {
    position: absolute;
    top: 6px;
    left: 5px;
    color: #30211e;
    text-shadow: 0px 1px 0px #ccc2a6;
}

.toggle {
    position: relative;
    display: block;
    width: 5rem;
    height: 10rem;
    border-radius: 50%;
    cursor: pointer;
    /* transform: translate3d(0, 0, 0); */
}

.toggle:before {
    content: "";
    position: relative;
    top: 1px;
    left: 1px;
    width: 80px;
    height: 36px;
    display: block;
    background:linear-gradient(to bottom, #8a550b 5%, #e9ad58 100%);
    border: 2px solid #1c1b18d6;
    border-radius: 30px;
    transition: background 0.2s ease;
}

.toggle span {
    content: "";
    position: absolute;
    top: 5.6px;
    left: 5.5px;
    width: 28px;
    height: 26px;
    display: block;
    background:linear-gradient(to bottom, #e9ad58 5%, #8a550b 100%);
    box-shadow: 0 3px 8px #5d3908;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5.5px;
    width: 28px;
    height: 28px;
    display: block;
    /* margin-top: 5px; */
    /* width: 60px;
    height: 60px; */
    /* border-radius: 50%; */
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked + .toggle:before {
    background:linear-gradient(to bottom, #1b1311 5%, #cf9849 100%);
    border: 2px solid #1c1b18d6;
 }

#cbx:checked + .toggle span {
    background:linear-gradient(to bottom, #e9ad58 5%, #8a550b 100%);
    transform: translateX(42px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px #5d3908;
}

#cbx:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}


.music-checkbox-button {
    position: absolute;
    top: 22px;
    right: 10px;
}


.button-no-shadow {
    box-shadow: none;
}

.returnLobbyButton {
    height: 40px;
    width: 170px;
    font-size: 2vh;
    position: absolute;
    top: 20px;
    left: 15px;
}


.ravenPush {
    font-size: 2vh;
}

.emptyLokiDeck {
    width: 5rem;
    height: 10rem;
}

.ravenPush, .swapCard, .doubleTrouble{
    animation: glowLoki 2000ms infinite;
}

@keyframes glowLoki {
    0% { box-shadow: 0 0 10px rgba(248, 162, 3, 0.884); }
    40% { box-shadow: 0 0 40px rgba(248, 162, 3, 0.884); }
    60% { box-shadow: 0 0 40px rgba(248, 162, 3, 0.884); }
    100% { box-shadow: 0 0 10px rgba(248, 162, 3, 0.884); }
}

.opponentCardDeck, .opponentLokiDeck, .emptyLokiDeck {
    width: 5rem;
    height: 10rem;;

}

.shakeCard:active {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.2s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.lokiSwapGif, .lokiFlipGif, .lokiDestroyGif {
    border: 2px rgba(248, 162, 3, 0.884) solid;
    transition: all 0.2s ease;
}

.lokiSwapGif:hover, .lokiFlipGif:hover, .lokiDestroyGif:hover {
    transform: scale(2)
}

.no-uppercase {
    text-transform: none;
}

.landBoard {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 11.8rem;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem 1rem;
}

.yourHandBoard {
    overflow-x:auto;
    white-space: nowrap;
    height: 15rem;
    width: 100%;
}

.userBoard {
    height: 5rem;
}

.waitTurn  {
    animation: waitTurn 2s infinite alternate;
}

@keyframes waitTurn {
    to {
        text-shadow: 0 0 15px rgba(248, 3, 3, 0.884)
        }
}

.yourTurn {
    animation: yourTurn 2s infinite alternate;
}

@keyframes yourTurn {
    to {
        text-shadow: 0 0 15px rgba(3, 248, 23, 0.884)
        }
}

#gameBarText {
    width: 100%;
    font-size: 1.4vw;
}

#h3Hands {
    font-size: 1vw;
}

#lokiChoices {
    width: 90px;
    height: 180px;
}

@media only screen and (max-width: 1440px) {

    /* #h3Hands{
        font-size: 1.25vw;
    } */

    /* #gameBarText {
        font-size: 1.5rem;
    } */

    .opponentCardDeck, .opponentLokiDeck, .emptyLokiDeck {
        width: 4rem;
        height: 8rem;
    }

    #lokiChoices {
        width: 75px;
        height: 150px;
    }

    .ravenPush {
        width: 10rem;
        white-space: normal;
        word-wrap: break-word;
    }

    .landBoard {
        height: 12rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 1280px) {
    .opponentCardDeck, .opponentLokiDeck, .emptyLokiDeck {
        width: 3rem;
        height: 6rem;
    }
/* 
    #gameBarText {
        font-size: 1.5vw;
    } */

    /* #h3Hands{
        font-size: 1.25vw;
    } */

    .landBoard {
        height: 9rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    .ravenPush {
        width: 35%
    }

}