/* .game-background {
    background-image: url("../../components/Images/table-backgrond-3.png");
    background-repeat: repeat-x;
    height: 600px;
} */

.game-status-box {
    height: 6rem;
}

.game-status-box img {
    position: absolute;
    
}

.coin-size {
    height: 7rem;
}

.games-text {
    text-transform: uppercase;
    font-family: 'Caudex', serif;
    font-weight: bolder;
    font-size: 1.2em;
}

.img-vert {
    transform: rotateX(180deg);
}

.landBoard {
    height: 20em;
}

.userBoard {
    height: 20em;
}