/* .game-background {
    background-image: url("../../components/Images/table-backgrond-3.png");
    background-repeat: repeat-x;
    height: 600px;
} */

.game-status-box {
    height: 4.1rem;
    padding: 0.3rem;
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.game-status-box img {
    position: absolute;
    left: 0.09rem;
    top: 0.09rem;
}

.game-status-margin {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    padding-bottom: 1rem;
}

.game-status-box h3 {
    text-transform: none !important;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    color: #1b1716;
}

.coin-size {
    height: 7rem;
    border-radius: 50%;
    transition: all .8s ease-in-out;
}
.coin-size:hover {
    transform: rotate(-360deg);
}

.games-text {
    text-transform: uppercase;
    font-family: 'Caudex', serif;
    font-weight: bolder;
    font-size: 1.2em;
}

.img-vert {
    transform: rotateX(180deg);
}

.gameHr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardsToDrawNum {
    font-weight: bold;
}