
/* Booklet jQuery Plugin Style*/
.booklet {
	-moz-box-shadow:0px 0px 1px #fff;
	-webkit-box-shadow:0px 0px 1px #fff;
	box-shadow:0px 0px 1px #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.booklet .b-wrap {
	padding: 1.5rem !important;
}

.booklet .b-wrap-left  {
	background:#fff url(../Images/left_bg.jpg) no-repeat top left;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.booklet .b-wrap-right {
	background:#efefef url(../Images/right_bg.jpg) no-repeat top left;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.booklet .b-counter {
	bottom:10px;
	position:absolute;
	display:block;
	width:90%;
	height:20px;
	border-top:1px solid #ddd;
	color:#222;
	text-align:center;
	font-size:12px;
	padding:5px 0 0;
	background:transparent;
	-moz-box-shadow:0px -1px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #fff;
	box-shadow:0px -1px 1px #fff;
	opacity:0.8;
}

.book_wrapper {
	margin:0 auto;
	padding-top:50px;
	width:905px;
	height:100%;
	position:relative;
	background:transparent url(../Images/bg.png) no-repeat 9px 27px;
}

.book_wrapper h2 {
	margin:5px 5px 5px 15px;
	font-size:26px;
	line-height: 2.7rem;
	/* padding-bottom: 0.1rem; */
	/* text-align: center; */
	color: #462a1a;
	margin: 1rem;
}

.book_wrapper p {
	line-height: 1.8rem;
	font-size: 1.1rem;
	color: #462a1a;
}

a#next_page_button,
a#prev_page_button{
	display:none;
	position:absolute;
	width:41px;
	height:40px;
	cursor:pointer;
	margin-top:-20px;
	top:50%;
	background:transparent url(../Images/buttons.png) no-repeat 0px -40px;
}
a#prev_page_button{
	left:-30px;
}
a#next_page_button{
	right:-30px;
	background-position:-41px -40px;
}
a#next_page_button:hover{
	background-position:-41px 0px;
}
a#prev_page_button:hover{
	background-position:0px 0px;
}
.loading{
	width:160px;
	height:56px;
	position: absolute;
	top:50%;
	margin-top:-28px;
	right:135px;
	line-height:56px;
	color:#fff;
	padding-left:60px;
	font-size:15px;
	background: #000 url(../Images/ajax-loader.gif) no-repeat 10px 50%;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}


table > tr {
    vertical-align: top;
}


tr > td {
	padding-right: 9px;
	padding-left: 9px;
}

td > p {
    margin: 0rem !important;
}


/* .start-text {
	font-size: 1.5rem;
} */

/* .p:first-child:first-letter {
	color: #903; 
	font-family: Georgia;
	initial-letter: 2;
  } */

.firstcharacter {
	/* color: #462a1a; */
	/* float: left; */
	/* font-family: Georgia; */
	font-size: 1.8rem;
	/* line-height: 45px; */
	/* padding-top: 0px; */
	/* padding-right: 8px; */
	padding-left: 1rem;
	font-weight: lighter;
}

#page-2 img {
	margin-top: 1.1rem;
	width: 4.1rem;
}

#page-4 .img-1 {
	width: 23rem;
}

#page-4 .img-2 {
	width: 12rem;
	margin-top: 1.1rem;
}

#page-5 img {
	width: 19rem;
	margin-top: 1.5rem;
}

#page-6 img {
	width: 19rem;
	margin-top: 1.5rem;
}

#page-6 p {
	margin-top: 4.5rem;
}

#page-8 p {
	margin-top: 4.5rem;	
}

#page-9 img {
	border-radius: 0.4rem;
}

#page-10 img {
	width: 21rem;
	border-radius: 0.4rem;
}

#page-11 img {
	width: 18rem;
	border-radius: 0.4rem;
}


.table-width {
	width: 100%;
	margin-left: 2.37rem;

}

.bold-text {
	font-weight: 700;
}

.loki-card-size {
	height: 170px;
	padding-bottom: 1rem;
}

.loki-card-text {
	font-size: 0.8rem;
	font-family: 'Averia Serif Libre', cursive;
}

/* .loki-card-text tr {
	width: 12rem;
} */

.loki-card-text td {
	width: 12rem;
}

.enter-draw-phase {
	width: 400px;
}

.win-phase {
	width: 230px;
}


