
input {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.2rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
}

.chat-scroll {
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: auto;
    height: 26.5em;
    display: flex;
    flex-direction: column-reverse;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF000000;
}