input {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.2rem;
    height: 2.7rem;
    letter-spacing: 0.02rem;
}

.input-inner-shadow {
    box-shadow: inset 0px 0px 13px -1px rgba(69,53,30,1);
    background-color: #e4d2b0d3;
    border: 2px solid #261f1e;
    border-radius: 0.3rem;
    color: #261f1e;
}


.button-join {
	box-shadow: none;
}

.chat-container {
    text-align: left;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 26.5em;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 30px;
    /* box-shadow: inset 0px 0px 26px -1px rgba(118,92,55,1); */
}


.form-padding {
    position: relative;
    bottom: 0rem;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF000000;
}