body {
    background-image: url("../../components/Images/landing-page.png");
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
}

.welcome-box {
    background-image: url("../../components/Images/paper-2.png");
    width: 500px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
